<!--HEAD-->
<%- include(".././partials/headEstrenos") %>

    <body class="bg1">
        <!--HEADER-->
        <%- include(".././partials/header") %>

            <!--MAIN-->
            <main>
                <%= pelicula.nombre %>
            </main>
            <!-- FOOTER -->
            <%- include("../partials/footer") %>
    </body>

    </html>