/*MAIN NOTICIAS*/
.body {
  font-family: "Poppins", sans-serif;
}

/*color de fondo del cuerpo del sitio*/
.bg1 {
  background-color: #0d0d0d !important;
}

.row-cols-md-2>* {
  flex: 0 0 auto;
  width: 50%;
  padding-top: 2rem;
  margin: auto;
}

.card-body {
  color: white !important;
}

.card-title{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size:large;
}

.card-text-3{
  padding-bottom: 2.5rem;
  border-bottom: 0.2px solid rgba(255, 0, 0, 0.4);
}

.card-text-1{
  padding-top: 0.7rem;
}

/*NOVEDADES*/
/* CSS */
.peliculas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pelicula {
  flex: 0 0 calc(20% - 10px);
  /* Ajusta el ancho de cada película según tus necesidades */
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 2%;
}

.bajada {
  margin-top: 10px;
  text-align: left !important;
  color: white;
  text-transform: uppercase;
}

.titulo4 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.2;
  padding-left: 9px;
  text-transform: uppercase;
  margin-top: 2em;
  padding-bottom: 0.5em;
  border-bottom: 0.4px solid #fa320a;
  color: white;
}

.imagen:hover {filter: grayscale(70%);}