<!--HEAD-->
<%- include(".././partials/headPerfil") %>

    <%- include(".././partials/header") %>

        <!--MAIN-->

        <!-- Contenido -->
        <div class="container" style="margin-top: 40px;">
            <div class="row">
                <div class="col-md-3">
                    <h2>Bienvenido</h2>
                    <!-- <img src="/images/avatars/default.png">-->
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"
                        style="width: 200px;" alt="Avatar" />

                    <br>
                    <br>
                    <div class="alert alert-success">user@email.com</div>
                </div>
            </div>
        </div>
        <!-- //Contenido -->

        <!--FOOTER-->
        <%- include(".././partials/footer") %>